<hr />
{% case page.post_list %}
{% when "date" %}
<!-- list of articles: sort by date (by default) -->
<h1 class="loa">Post List</h1>
<table>
    <thead>
        <tr>
            <th>TITLE</th>
            <th>DATE</th>
            <th>CATEGORY</th>
        </tr>
    </thead>
    <tbody>
        {% for post in site.posts %}
        </tr>
        <td class="td_title"><a href="{{site.url}}{{site.baseurl}}{{post.url}}">{{post.title}}</a></td>
        <td class="td_date">{{post.date | date: "%Y-%m-%d"}}</td>
        <td class="td_category">{{post.category}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% when "category" %}
<!-- list of articles: sorted by category -->
<h1>Post List</h1>
{% for cate in site.categories %}
{% capture cate_name %}
{{ cate | first }}
{% endcapture %}
<table id="t_{{ cate_name | strip }}">
    <thead>
        <tr>
            <th id="cate_name"><i class="fa fa-tags"></i>{{ cate_name }}</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for post in cate[1] %}
        <tr>
            <td class="td_title">
                <a href="{{site.url}}{{site.baseurl}}{{post.url}}">{{ post.title }}</a>
            </td>
            <td class="td_date">{{ post.date | date: "%Y-%m-%d" }}</td>
        </tr>
        {% endfor %}
    </tbody>
    {% endfor %}
</table>
{% when "current" %}
<!-- list of articles: sorted by current -->
<h1 class="loa">{{page.category}} Post List</h1>
<table>
    <thead>
        <tr>
            <th>TITLE</th>
            <th>DATE</th>
        </tr>
    </thead>
    <tbody>
        {% for post in site.categories[page.category] %}
        </tr>
        <td class="td_title"><a href="{{site.url}}{{site.baseurl}}{{post.url}}">{{post.title}}</a></td>
        <td class="td_date">{{post.date | date: "%Y-%m-%d"}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endcase %}