---
layout: default
post_list: "date"
toc: true
home_btn: true
btn_text: true
footer: true
title: "bindon Personal Site"
author: "bindon"
encrypted_text: true
permalink: /
---

<table>
    {% for cate in site.categories %} 
        {% capture cate_name %}
        {{ cate | first }}
        {% endcapture %}
            <h1>{{ cate_name }}</h1>
        {% for post in cate[1] %}
            <li><a href="{{site.url}}{{site.baseurl}}{{post.url}}">{{ post.title }}</a></li>
        {% endfor %}
    {% endfor %}
</table>    